$primary-color: #444;
$secondary-color: #ff0000;
$show-home-image: true;
$home-image: url(../img/ohio-state.jpg);
$background-opacity: 0.8;

@mixin easeInOut {
  transition: all 0.5s ease-in-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, $background-opacity),
          rgba(0, 0, 0, $background-opacity)
        ),
        $home-image;
    }
  }
}
